* {
  font-family: "Montserrat", sans-serif;
}

body {
  padding-top: 50px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.menu-container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
}
.menu-home {
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-right: auto;
  padding: 20px;
}
.contact-btn {
  background-color: #324e30;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
}
.menu-link {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.about-section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  padding: 10px;
  position: relative;
 
}

.about-section-main-pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 15px;
}

.bubble-pic {
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.bubble-pic:hover {
  transform: scale(1.1);
}


.bubble-pic:nth-child(1) {
  width: 220px;
  height: 220px;
}

.bubble-pic:nth-child(2) {
  width: 260px;
  height: 260px;
}

.bubble-pic:nth-child(3) {
  width: 200px;
  height: 200px;
}

.bubble-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
  gap: 20px;
  justify-content: center; /* center the whole grid */
  align-items: center;
}

/* Make the 3rd image centered in the second row */
.bubble-pic:nth-child(3) {
  grid-column: 1 / span 2;  /* span across both columns */
  justify-self: center;
}

.about-info {
  margin-left: 10px;
  text-align: left;
}

.hey {
  font-size: 18px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}
.quote {
  font-size: 14px;
}

#aboutme {
  background-color: rgb(255, 234, 205);
  padding: 20px;
}

.title-section {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 40px;
}
.title-section-about {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.par {
  display: flex;
  justify-content: center;
}
.par p {
  padding: 10px;
  width: 35%;
}


.resume-container {
  max-width: 900px;
  margin: 0 auto;
}

.resume-container-1 {
  margin-top: 40px;
}

.resume-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skill-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.skill-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.skill-item {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}


.education-container {
  text-align: left;
  display: flex;
}

.education-title {
  font-size: 18px;
  font-weight: bold;
}
.gbc-about {
  margin-left: 20px;
}
.education-text {
  color: #666;
}

.education-link {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}

.education-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  font-size: 12px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.education-button:hover {
  background-color: #0056b3;
}
.skill-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
}
.project-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.project-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: white;
  color: #324e30;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 250px;
  position: relative;
}


.project-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}


.project-card-front,
.project-card-back {
  width: 80%;
  height: 80%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}


.project-card-front {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}


.project-card-back {
  background-color: #324e30;
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.project-card:hover .project-card-back {
  opacity: 1;
}






.contact-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.contact-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: #324e30;
  font-weight: 500;
}


.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #324e30;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  min-height: 150px;
}

.submit-button {
  padding: 12px 20px;
  background-color: #324e30;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2c3e1f;
}


.success-message {
  color: green;
  font-size: 18px;
  margin-top: 20px;
}


.footer {
  color: #000000;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links p {
  font-size: 16px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  color: #4db8ff;
  text-decoration: none;
  margin-left: 8px;
}

.footer-links i {
  font-size: 18px;
  color: #4db8ff;
  margin-right: 8px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #6f6f6f;
}

.footer-bottom p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.featured-proj {
  display: flex;
}
.proj-info {
  width: 600px;
}
.links a {
  font-size: 12px;
  padding: 5px;
}
